@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
h1{
  font-size: 52px;
  color: #fff;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}
#qr-code{
  margin: 50px;
  background: #fff;
}
form{
  display: flex;
  flex-direction: column;
  width: 380px;
  transition: 1s;
}
form:first-child{
  width: 100%;
}
input{
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: #fff;
  outline: none;
  border: 2px solid #009dfa;
  background: #009dfa;
  border-radius: 10px;
}
::placeholder{
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
